body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 16px;
  line-height: 1.5;
  color: #5eb7b3;
  /* background-image: url("https://images.unsplash.com/photo-1442323794357-25b2ec110967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80"); */
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  height: 100%;
  display: flex;
  align-items: center;
}

.user-form {
  width: 460px;
  margin: auto;
  padding: 32px;
  font-weight: bold;
  background-color: rgba(121, 34, 67, 0.9);
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
}

.error {
  margin: 0;
  position: absolute;
  color: fushia;
}

input,
textarea {
  margin-top: 32px;
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  color: #4d2d52;
  border: 2px solid rgba(77, 45, 82, 0.8);
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

button {
  max-width: 150px;
  margin: 32px 0;
  padding: 12px 20px;
  border-style: none;
  background-color: #14586b;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}
